<nav class="navbar navbar-light" style="background-color: #b0197e;font-size:18px">
  <a class="navbar-brand" href="/all">Project Hunter</a>
  <li class="nav-item">
        <a class="nav-link" style="color:#000000;" href="upforgrabs">In progress</a>
  </li>
  <li class="nav-item active">
        <a class="nav-link" style="color:#000000;" href="/seekingcolab">Seeking collaborators</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" style="color:#000000;" href="/completed">Completed</a>
  </li>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="searchBox" placeholder="Search" aria-label="Search" style="color:#000000;">
    <a class="btn btn-primary" onclick="mSearch()"  id="searchButt" type="submit" style="color:#000000;">Search</a>
  </form>
</nav>
