<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:position="http://www.w3.org/1999/xhtml">

<header>

<link rel="stylesheet" href="https://themeswitcher.csh.rit.edu/api/get" media="screen">
    <link rel="stylesheet" href="/templates/stylesheet.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</header>

<body>
<div>
<nav class="navbar navbar-light" style="background-color: #b0197e;font-size:18px">
  <a class="navbar-brand" href="#">Project Hunter</a>
  <li class="nav-item">
        <a class="nav-link" style="color:#000000;" href="#">Up for grabs</a>
  </li>
  <li class="nav-item active">
        <a class="nav-link" style="color:#000000;" href="#">Seeking collaborators</a>
  </li>
  <li class="nav-item">
        <a class="nav-link" style="color:#000000;" href="#">Completed</a>
  </li>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</nav>
</div>
<div class="container">
    <link href="stylesheet.css">
    <div class="fixed-bottom">
          <button type="button" class="btn btn-primary btn-circle">Add project</button>
    </div>
</div
</body>
</form>
</html>