<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:position="http://www.w3.org/1999/xhtml">

{% block head %}
    {% include "elements/header.html" %}
{% endblock %}

{% block nav %}
    {% include "elements/nav.html" %}
{% endblock %}

<body>
{% for i,j,k in dbData %}
<div class="container">
  <div class="card" style="width: 500px;">
    <div class="card-body">
      <h5 class="card-title">{{ i }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ j }}</h6>
      <p class="card-text">{{ k }}</p>
    </div>
  </div>
  {% endfor %}
</div>
<div>
  <form id="form" class="fixed-form collapse in">
    Post name:<br>
    <input style=" border-radius: 10px" type="text" id="postname"><br>Tags:<br>
    <input style=" border-radius: 12px" type="text" id="tags"><br>Post text:<br>
    <input style="border-radius: 12px" type="text" id="posttext">
    <select class="form-control" id="status">
      <option>In progress</option>
      <option>Seeking collaborators</option>
      <option>Completed</option>
    </select>
    <button type="submit" id="realbutt" class="btn btn-primary btn-circle-small">submit</button>
  </form>
  <button class="btn-primary fixed-btn btn-lg" data-toggle="collapse" href="#form" role="button" aria-expanded="false" aria-controls="form" style="border-radius: 10px" id="showHide">New project...</button>
</div>
</body>
</form>
</html>
