<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:position="http://www.w3.org/1999/xhtml">

{% block head %}
    {% include "elements/header.html" %}
{% endblock %}

{% block nav %}
    {% include "elements/nav.html" %}
{% endblock %}

<body>
 {{ dbData }}
<div class="container">
    <link href="stylesheet.css">
    <div class="fixed-bottom">
        <input id = "input" type="text">
          <button id="button" type="button" class="btn btn-primary btn-circle">Add project</button>
    </div>
</div>
</body>
</form>
</html>
